body {
    background-image: url("../images/FOND.png");
}

.global {
    display: grid;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.linkWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 60%;
    margin: 10px auto;
}

.navBar {
    display: flex;
    flex-direction: column;

}

.navImg {
    width: 60%;
    height: 80%;
}

/*  Won't work like I want. Pity, it would have been cool :)
.linkSpan {
    writing-mode: vertical-rl;
    text-orientation: upright;
    height: 250px;
    width: 30px;
}
*/

.linkWindow a {
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 30px;
    margin-bottom: 5px;
    width: 40%;
    text-align: center;
    text-decoration: none;
    color: black;
}

.linkSpan {
    font-weight: bolder ;
}

.headLogo {
    width: 400px;
    height: 70px;
}

.searchBar {
    margin: 0 auto;
    width: 350px;
    height: 80px;
    text-align: right;
}

.searchGlass {
    width: 25px;
    height: 25px;
}

.searchForm {
   display: flex;
   align-items: end;
   justify-content: right;
}

#searchField {
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}

.langBar {
   width: 320px;
   margin-right: 0;
}

.langButton {
    height: 20px;
    width: 20px;
}

#langButEN {
    background-image: url("../images/gb.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#langButFR {
    background-image: url("../images/fr.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#langButBE {
    background-image: url("../images/be.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.news {
    width: 100%;
    height: 100px;
    background-color: yellow;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news h3, .news h4 {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    height: 20px;
}

.inscriptionButton {
    margin-top: 15px;
    text-align: center;
    font-size: medium;
    line-height: 30px;
    color: white;
    background-color: black;
    width: 25%;
    height: 30px;
}

.partners {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.partners img {
    margin: 10px 10px 0;
    width: 20%;
    height: 80%;
}

.footer {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    color: white;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer p {
    margin: 3px auto;
    width: 80%;
}

@media screen and (min-width: 750px) and (max-width: 950px) {
    
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
    
}

@media screen and (min-width: 1200px) and (max-width: 2000px) {
    
}

@media screen and (min-width: 2000px)  {
    .global {
        display: grid;
        width: 80%;
        margin: 0 auto;
    }
    
    .header {
        width: 100%;
        height: 24vh;
        margin-top: 50px;
        display: flex;
        flex-direction: row;

    }

    .headLogo{
        width: 75%;
        height: 60%;
    }

    .linkWindow {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 80%;

    }

    .navBar {
        display: flex;
        flex-direction: row;

    }

    .navImg {
        width: 85%;
        height: 18vh;
    }

    .linkWindow a {
        border: 1px solid black;
        border-radius: 8px;
        padding: 5px 30px;
        width: 70%;
        text-align: center;
        text-decoration: none;
        margin-bottom: 12%;
    }


    .searchBar {
        margin-right: 0 auto;
        width: 25%;
        height: 40%;
        text-align: right;
    }

    .searchGlass {
        width: 50px;
        height: 50px;
    }

    .searchForm {
       display: flex;
       align-items: end;
       justify-content: right;
    }

    #searchField {
        border-bottom: 2px solid black;
        border-top: none;
        border-left: none;
        border-right: none;
        width: 80%;
        height: 30px;
        font-size: larger;
        text-align: right;
    }

    .langBar {
        margin: 10px 0 0 30%;
        
    }

    .langButton {
        height: 30px;
        width: 40px;
    }
    .news {
        width: 95%;
        margin: 0 auto;
        height: 150px;
        background-color: yellow;
        line-height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .news h3 {
        margin: 20px auto 0;
        width: 50%;
        text-align: center;
        height: 20px;
    }
    
    .inscriptionButton {
        margin-top: 25px;
        text-align: center;
        font-size: medium;
        line-height: 30px;
        color: white;
        background-color: black;
        width: 6%;
        height: 30px;
    }
    
    .partners {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .partners img {
        margin: 30px 30px 0;
        width: 120px;
        height: 60px;
    }
    
}